body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

p {
  color: #8f8f8f;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.white-section {
  background-color: #fff;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

/* Buttons */
.download-button {
  margin: 5% 2% 5% 0;
}
.btn:hover {
  transform: scale(1.1);
  display: inline-block;
  transition: all 0.2s ease-in-out;
  opacity: 0.9;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

.nav-link {
  margin: 0 18px;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Title */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
  position: relative;
}

.title-h1 {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Title Grid */
.title-col {
  margin-top: 4.5rem;
}

/* Title image */
.title-img {
  margin: auto 30% -15rem 50px;
  position: relative;
  left: 5%;
  transform: rotate(25deg);
  width: 60%;
}

/* Features Section */

#features {
  position: relative;
  z-index: 1;
}

#features .container-fluid {
  padding: 15% 15%;
}

/* Features Icons */
.features-icon {
  color: #ef8172;
}

.features-icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials,
#press {
  background-color: #ef8172;
}

.testimonial-h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonials-img {
  width: 15%;
  border-radius: 100%;
  margin: 3%;
}

/* Press Section */
#press {
  padding: 3% 15% 5%;
}

.press-img {
  width: 20%;
  padding: 10px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.card-body {
  padding: 5% 10%;
}

.price-col {
  padding: 2% 3%;
}

.price-h2 {
  color: #0d6efd;
  font-size: 2.5rem;
}

.strike {
  text-decoration: line-through;
}

.price-p {
  color: #212529;
}

/* Footer Section */
#cta {
  padding: 10% 15%;
}

#footer {
  padding: 4% 15% 2%;
}

.footer-icon {
  margin: auto 10px 20px;
}

.footer-icon:hover {
  transform: scale(1.2);
}

/* Media Query */
@media (max-width: 990.4px) {
  .title-img {
    transform: rotate(0);
    position: static;
    margin: auto;
  }
  #title .container-fluid {
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
  }
}
