body {
  font-family: "Montserrat", sans-serif;
}

/* Title */
#title {
  background-color: #ff4c68;
  color: white;
  position: relative;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

.nav-link {
  margin: 0 18px;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 300;
}

/* Divisions */
.col-lg-6 {
  margin-top: 4.5rem;
}

/* Heading and Download Buttons */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.download-button {
  margin: 5% 2% 5% 0;
}

/* Title Img */
.title-img {
  margin: auto 30% -15rem 50px;
  position: relative;
  left: 5%;
  transform: rotate(25deg);

  width: 60%;
}

/* Features Section */
h3 {
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* features icon */
.features-icon {
  color: #ef8172;
}

.features-icon:hover {
  color: #ff4c68;
}

#features {
  position: relative;
  padding: 15% 15%;
  z-index: 1;
  background-color: #fff;
}

.center {
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  text-align: center;
}

h2 {
  font-weight: 800;
  font-size: 2.5rem;
  color: #fff;
}

.testimonials-img {
  width: 15%;
  border-radius: 100%;
  margin: 3%;
}

#press {
  background-color: #ef8172;
  padding: 3% 15% 5%;
  text-align: center;
}

.press-img {
  width: 20%;
  padding: 10px;
}

.carousel-inner {
  padding: 7% 15% 4%;
}

/* Pricing */
.price-h2 {
  color: #0d6efd;
}

.strike {
  text-decoration: line-through;
}

.price-p {
  color: #212529;
}

.price-btn {
  width: 100%;
}

.card {
  text-align: center;
}

.card-body {
  padding: 5% 10%;
}

#pricing {
  padding: 100px;
}

.price-col {
  padding: 2% 3%;
}

/* Footer Section */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 10% 15%;
}

.cta-h3 {
  font-weight: 800;
  font-size: 3.5rem;
  color: #fff;
  padding-bottom: 4%;
}

.btn:hover {
  transform: scale(1.1);
  display: inline-block;
  transition: all 0.2s ease-in-out;
  opacity: 0.9;
}

#footer {
  background-color: #fff;
  padding: 5% 15%;
  text-align: center;
}

.footer-icon {
  margin: auto 10px 20px;
}

.footer-icon:hover {
  transform: scale(1.2);
}

@media (max-width: 990.4px) {
  .title-img {
    transform: rotate(0);
    position: static;
    margin: auto;
  }
  #title {
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
  }

  .cta-h3 {
    font-size: 2.5rem;
  }
}
